# make a copy of this  as .env, then edit
# this is REQUIRED to run with node in "production" mode
# this should not affect anything in "development" mode

# changing this file and using docker? make sure to rebuild! (docker compose up --build --force-recreate)

NODE_CLIENT_CORS_URL = "https://YOUR.DOMAIN"
VITE_API_SERVER_URL = "https://YOUR.DOMAIN" # only change this URL if not serving app from express
NODE_USING_TRUSTED_PROXY = false