:root {
    background-color: lightgray;
    font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
    text-align: center;
    font-size: 25px;
    padding-top: 1ch;
}

#error-message {
    background-color: lightcoral;
    margin-top: 0.5ch;
    display: inline-block;
    padding: 20px;
    border-radius: 15px;
}

#error-message[hidden] {
    display: none
}

.grid {
    background-color: gray;
    display: inline-block;
    padding: 20px;
}

.buttons {
    margin-top: 1ch;
}

button {
    background-color: black;
    color: white;
    border: 0;
    font-size: 1rem;
    transition: background-color 0.3s;
    padding: 15px;
}

button:hover {
    background-color: gray;
}

button:active {
    background-color: white;
    color: black;
    transition: background-color 0s;
}

footer {
    font-size: 0.8rem;
}

footer img {
    height: 0.8rem;
    width: 0.8rem;
    scale: 2;
    margin-left: 1ch;
    margin-right: 1ch;
}

footer .small {
    color: gray;
    font-size: 0.25rem;
}

footer a {
    color: #17556C;
}