:root {
    background-color: lightgray;
    font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
    text-align: center;
    font-size: 25px;
    padding-top: 1ch;
}

#dev-build {
    background: repeating-linear-gradient(
        45deg,
        rgb(100, 0, 0),
        rgb(100, 0, 0) 10px,
        rgb(150, 0, 0) 10px,
        rgb(150, 0, 0) 20px
    );
    color: white;
    padding: 10px;
    
    width: fit-content;
    margin: auto;
}
#dev-build[hidden] {
    display: none;
}
#dev-build-data {
    font-family: monospace;
}

#error-message {
    background-color: lightcoral;
    margin-top: 0.5ch;
    padding: 20px;
    border-radius: 15px;

    width: fit-content;
    margin: 1ch auto;
}
#error-message[hidden] {
    display: none
}

#current-move, #next-move {
    font-family: monospace;
}

.grid {
    background-color: gray;
    display: inline-block;
    padding: 20px;
}

h1 {
    margin-top: 1ch;
}

.buttons {
    margin-top: 1ch;
    user-select: none;
}
button {
    background-color: black;
    color: white;
    border: 0;
    font-size: 1rem;
    transition: background-color 0.3s;
    padding: 15px;
}
button:hover:not([disabled]) {
    background-color: gray;
}
button:active:not([disabled]) {
    background-color: white;
    color: black;
    transition: background-color 0s;
}
button:disabled {
    color: gray;
    background-color: darkred;
}
button.chosen-vote {
    background-color: darkgreen;
}

footer {
    font-size: 0.8rem;
}
footer img .icon {
    /* currently unused, keeping in case I decide to use a profile icon again */
    height: 0.8rem;
    width: 0.8rem;
    scale: 2;
    margin-left: 1ch;
    margin-right: 1ch;
}
footer .small {
    color: gray;
    font-size: 0.25rem;
}
footer a {
    color: #17556C;
}